openai
langchain
langchain-core
langchain-chroma
langchain-huggingface
langchain-openai
langgraph
langsmith

sentence-transformers
faster-whisper
torch

gradio

pandas
numpy

beautifulsoup4
requests

pydantic
typing-extensions
